* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-family: sans-serif;
}
.container {
  background-color: #f5f5f5;
}
.head-block {
  width: auto;
  padding: 10px;
  display: flex;
  border-bottom: #0d1b2c;
  align-items: center;
  border-top: 5px solid #9a7b4f;
}
.head-block-logo {
  padding: 0px;
}
.head-block-text {
  display: flex;
  justify-content: space-around;
  padding-left: 65px;
  padding-bottom: 15px;
  gap: 70px;
  align-self: end;
}
.title {
  margin-bottom: 20px;
  padding: 75px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 50.52px;
  color: #0d1b2c;
  text-transform: uppercase;
  letter-spacing: 0.001px;
}

a:link {
  font-family: sans-serif;
  font-size: 21.33px;
  color: #283342;
  font-weight: 100;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #283342;
}
a:hover {
  color: #9a7b4f;
  font-weight: 550;
  text-decoration: none;
}
.body-image {
  width: 1499px;
}
.div-image {
  position: relative;
}
.text {
  position: absolute;
  bottom: -350px;
  padding-left: 50px;
}
#agricot {
  font-size: 50px;
  margin-bottom: 35px;
  color: #fff;
}
#agricot-text {
  font-size: 30px;
  color: #fff;
}
.image {
  opacity: 0.9;
}
.body-image {
  margin: 0px;
  padding: 0px;
}
.pic-text {
  border-radius: 20px;
  padding: 20px 40px;
  color: #0d1b2c;
  font-size: 21.33px;
  font-weight: 600;
  line-height: 1.7;
  font-family: sans-serif;
}
/* #agricot-text .footer {
  position: absolute;
  botom: 100px;
} */
